<div class="container-fluid" style="margin-top: 90px;">
    <div class="row tab-view">
        <ul class="tabs">
            <li><a routerLink="">Home</a> &nbsp;<i class="fas fa-chevron-right"></i></li>
            <li><a routerLink="/products">Products</a></li>
        </ul>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="card rounded-0">
                        <mat-card>
                            <h2 class="mb-0">Filter Products</h2>
                            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                                <!-- This is the tree node template for leaf nodes -->
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                    <!-- use a disabled button to provide padding for tree leaf -->
                                    <button mat-icon-button disabled></button>
                                    {{node.name}}
                                </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                        <mat-icon class="mat-icon-rtl-mirror">
                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                        </mat-icon>
                                    </button>
                                    {{node.name}}
                                </mat-tree-node>
                            </mat-tree>
                        </mat-card>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="card rounded-0">
                        <mat-card>
                            <h3 class="mb-0" style="font-weight: bold;">Filter With Price</h3>
                            <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0"
                                max="100000" aria-label="units"></mat-slider>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1>All New Products</h1>
                <div class="col-lg-4 col-md-4 col-10 mx-auto mb-5" *ngFor="let p of allproducts">
                    <div class="card">
                        <mat-card>
                            <a routerLink="/product-details/{{p.id}}">
                                <img mat-card-image src="../../../assets/home/{{p.image}}" alt="">
                            </a>
                            <mat-card-header class="mb-0">
                                <mat-card-title>{{p.title | slice:0:16}}</mat-card-title>
                                <mat-card-subtitle class="">{{p.price | currency:'INR'}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-actions class="mt-0">
                                <button mat-flat-button class="btn btn-outline-primary rounded-0" (click)="addToCart(p.id)" >ADD TO CART</button>   
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

            <div class="row">
                <h1>Offer On</h1>
                <!-- <div class="col-md-4 col-10 mx-auto mb-5" *ngFor="let n of newProducts">
                    <div class="card">
                    <mat-card>
                        <a routerLink="/product-details/{{n.id}}">
                        <img mat-card-image src="{{n.image}}" class="offer_on" alt="">
                        </a>
                        <mat-card-header class="mb-0">
                            <mat-card-title>{{n.title | slice:0:16}}</mat-card-title>
                            <mat-card-subtitle class="">{{n.price | currency:'INR'}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions class="mt-0">
                            <button mat-flat-button class="btn btn-outline-primary rounded-0">ADD TO CART</button>   
                        </mat-card-actions>
                    </mat-card>
                </div>
                </div> -->
            </div>
        </div>
    </div>
</div>