<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-5 col-10 mx-auto">
            <div class="card">
                <img src="../../../assets/home/{{item.image}}" alt="">
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-warning rounded-0" style="width: 50%;" (click)="addToCart(item.id)" >Add to Cart</button>
                    <button class="btn btn-danger rounded-0" style="width: 50%;">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-10 mx-auto">
            <h2> {{item.title}}</h2>
            <h1>{{item.price | currency:'INR'}}</h1>
            <div class="row">
                <div class="col-md-8">
                    <i class="fas fa-map-marker-alt mb-2"></i>
                    <form  #f="ngForm" (ngSubmit)="submit(f)" novalidate >
                        <div class="form-group d-flex">
                            <input required type="text" class="form-control rounded-0" minlength="6" name="pin" ngModel #pinField="ngModel" placeholder="Enter Pincode">
                            <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Check</button>
                        </div>
                    </form>
                    <p class="text-success mt-3">{{this.text}}</p>
                </div>
                <div class="col-md-4">
                    <h3>Service</h3>
                    <p>30 days return policy</p>
                    <p>Cash on delivery available</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Description</h3>
                        </div>
                        <div class="card-body">
                            {{item.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>